9781430249924 _ch08/BOM/BOM/Service References/BOMWcfServices/BOMServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18017/BOMServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOM.Service.Models" />
  <xs:element name="GetAllParts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="GetAllPartsResult" nillable="true" type="q1:ArrayOfPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComponents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="GetAllComponentsResult" nillable="true" type="q2:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="component" nillable="true" type="q3:Component" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComponentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="component" nillable="true" type="q4:Component" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="part" nillable="true" type="q5:Part" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="part" nillable="true" type="q6:Part" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="bom" nillable="true" type="q7:BillOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBOMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BOM.Service.Models" minOccurs="0" name="bom" nillable="true" type="q8:BillOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBOMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDummyData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDummyDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>